.list-form-container {
  padding: 1rem;
}
.list-box {
  width: 100%;
  display: grid;
  place-items: center;
}

.list-box-card {
  padding: 1rem;
  background-color: hsl(22, 78%, 92%);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  max-height: 70vh;
  overflow-y: scroll;
  text-align: center;
  border-radius: 1vmin;
}

.list-box-card-header {
  width: 100%;
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5rem;
  /* background-color: green; */
}

.list-box-card-content {
  width: 100%;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5rem;
  /* background-color: blueviolet; */
}
