.navbar-container {
  background-color: hsl(22, 78%, 92%);
  border-radius: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  padding: 2rem 2rem;
  width: 100%;
}

.icons {
  font-size: 25px;
  border-radius: 50%;
  font-weight: 500;
  color: rgb(98, 71, 54, 0.5);
  cursor: pointer;
  transition: all 0.25s ease;
}

.menu-icon-box:hover {
  background-color: hsl(22, 78%, 70%);
}

.menu-icon-box:hover .icons {
  color: #fff;
}

.menu-icon-box:hover span {
  display: inline-block;
  transform: translateY(0);
  color: #f7f7f7;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-container .menu-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 80%;
  padding: 0.5rem;
  border-radius: 1vmin;
  transition: all 0.25s ease;
  /* background-color: #624736; */
  /* color: #fff; */
  cursor: pointer;
  text-decoration: none;
}

.menu-icon-box span {
  display: none;
  transform: translateY(3rem);
  transition: all 0.25s ease;
  font-size: 11px;
}

.welcome-text {
  color: rgba(0, 0, 0, 0.7);
}

.welcome-text .welcome-text-1 {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin-right: 0.5rem;
}

.welcome-text .welcome-text-2 {
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
}

@media only screen and (max-width: 480px) {
  .welcome-box {
    display: none;
  }
  .menu-container .menu-icon-box {
    justify-content: space-evenly;
  }
  body {
    padding: 0 0;
  }

  /* html {
    overflow-x: hidden;
  } */
  .home-container {
    padding: 0.5rem 0.5rem;
    min-height: 80vh;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }
  .form-container {
    padding: 0 0;
    overflow-y: scroll;
  }
  .form-container form {
    padding: 0.5rem;
    width: 95%;
  }
  .form-container form .form-input-control {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .form-container form .form-input-group .tagSearchInput {
    margin-bottom: 1rem;
  }
}
