.form-container {
  width: 100%;
  /* background-color: red; */
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.form-container form {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 3rem;
  background-color: hsl(22, 78%, 95%);
  border-radius: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 4rem;
}

.form-container form .form-input-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.form-container form .form-input-group span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

/* .form-container form .form-input-group {
  position: relative;
} */

.form-container form .form-input-group .tagSearchInput {
  display: block;
  outline: none;
  border-radius: 0.5vmin;
  padding: 8px 15px;
  font-size: 13px;
  background-color: hsl(22, 78%, 97%);
  position: relative;
}

.form-container form .form-input-group input {
  display: block;
  outline: none;
  border-radius: 0.5vmin;
  border: 1px solid rgba(98, 71, 54, 0.5);
  padding: 8px 15px;
  font-size: 13px;
  background-color: hsl(22, 78%, 97%);
}

.form-container form .form-input-group select {
  display: block;
  outline: none;
  border-radius: 0.5vmin;
  border: 1px solid rgba(98, 71, 54, 0.5);
  padding: 8px 15px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  background-color: hsl(22, 78%, 97%);
}

.form-container form .form-input-group input:focus {
  border: 1px solid rgba(98, 71, 54, 1);
}

.readonly {
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: transparent !important;
  cursor: not-allowed;
}
.readonly:focus {
  border: 1px solid rgba(98, 71, 54, 0.5) !important;
}

.form-container form .form-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.btn-submit {
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  background-color: rgba(98, 71, 54, 1);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5vmin;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2px 2.6px;
}

.btn-submit:hover {
  background-color: rgba(98, 71, 54, 0.8);
}

.btn-submit:active {
  background-color: rgba(98, 71, 54, 0.9);
}

.searchbar-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 16rem;
  background-color: white;
  border-radius: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.tagSearchInput .search .searchInputs input {
  border: 0;
  max-width: 6.5rem;
}

.tagSearchInput .search .searchInputs input:focus {
  outline: none;
  border: 0;
}

.tagSearchInput .search {
  position: absolute;
  left: 0;
  top: 0;
  background-color: hsl(22, 78%, 97%);
  border: 1px solid rgba(98, 71, 54, 0.5);
}


